@import url('https://fonts.googleapis.com/css2?family=Anton&family=Original+Surfer&family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Copse&family=Red+Hat+Display:wght@500&family=Vesper+Libre&display=swap');
@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// Variables
:root{
    --original-surfer : 'Original Surfer', cursive;
    --anton : 'Anton', sans-serif;
    --yanone : 'Yanone Kaffeesatz', sans-serif;
    --redhat : 'Red Hat Display', sans-serif;
    --vesper : 'Vesper Libre', serif;
    --copse: 'Copse', serif;
    --gilroy : 'Gilroy', sans-serif;
    --lobster : 'Lobster Two';
    --lucky : 'Luckiest Guy';
    --poppins : 'Poppins', sans-serif;
}
